@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap');

html{
    margin: 0%;
    padding: 0%;
    display: block;
}

body{
    font-family: 'Chivo Mono', monospace;
}